<?xml version="1.0"?>
<configuration>
  <system.web>
    <customErrors mode="RemoteOnly">
      <error statusCode="404" redirect="/404.html" />
    </customErrors>
    <!--
      If you are deploying to a cloud environment that has multiple web server instances,
      you should change session state mode from "InProc" to "Custom". In addition,
      change the connection string named "DefaultConnection" to connect to an instance
      of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    </system.web>
    <system.webServer>
        <httpErrors>
          <remove statusCode="404" />
          <error statusCode="404" responseMode="ExecuteURL" path="/404.html" />
        </httpErrors>
        <modules runAllManagedModulesForAllRequests="false">
        </modules>
      <!-- Adobe AIR mime type -->
      <staticContent>
        <remove fileExtension=".air" />
        <mimeMap fileExtension=".air" mimeType="application/vnd.adobe.air-application-installer-package+zip" />
        <remove fileExtension=".svg" />
        <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
        <remove fileExtension=".woff" />
        <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
        <remove fileExtension=".woff2" />
        <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff" />
        <remove fileExtension=".less" />
        <mimeMap fileExtension=".less" mimeType="text/css" />
        <remove fileExtension=".mp4" />
        <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
        <remove fileExtension=".json" />
        <mimeMap fileExtension=".json" mimeType="application/json" />
      </staticContent>
      <!-- Ensure the powered by header is not returned -->
      <httpProtocol>
        <customHeaders>
          <remove name="X-Powered-By" />
        </customHeaders>
      </httpProtocol>
      <rewrite>
      <rules>
        <rule name="Redirect Maps Rule" stopProcessing="true">
            <match url=".*" />
            <conditions>
              <add input="{StaticRedirects:{PATH_INFO}}" pattern="(.+)" />
            </conditions>
            <action type="Redirect" url="{C:1}" appendQueryString="True" redirectType="Permanent" />
          </rule>

          <rule name="Add trailing slash" stopProcessing="true">
            <match url="(.*[^/])$" />
            <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
              <add input="{REQUEST_FILENAME}" pattern="(.*?)\.[a-zA-Z]{1,4}$" negate="true" />
              <add input="{REQUEST_URI}" pattern="^/api/\S*$" negate="true" />
            </conditions>
            <action type="Redirect" redirectType="Permanent" url="{R:1}/" />
          </rule> 
          <rule name="Convert to lower case" stopProcessing="true">
            <match url=".*[A-Z].*" ignoreCase="false" />
            <action type="Redirect" url="{ToLower:{R:0}}" redirectType="Permanent" />
          </rule>
          <rule name="Remove WWW" patternSyntax="Wildcard" stopProcessing="true">
            <match url="*" />
            <conditions>
              <add input="{CACHE_URL}" pattern="*://www.*" />
            </conditions>
            <action type="Redirect" url="{C:1}://{C:2}" redirectType="Permanent" />
          </rule>
          <rule name="Canonical Host Name" stopProcessing="true">
            <match url="(.*)" />
            <conditions>
              <add input="{HTTP_HOST}" pattern="qualitybytes\.de" />
              <add input="{HTTP_HOST}" negate="true" pattern="^qualitybytes\.de$" />
            </conditions>
            <action type="Redirect" url="http://qualitybytes.de/{R:1}" redirectType="Permanent" />
          </rule>
          <rule name="HTTP to HTTPS redirect" stopProcessing="true"> 
            <match url="(.*)" /> 
            <conditions> 
              <add input="{HTTPS}" pattern="off" ignoreCase="true" />
              <add input="{HTTP_HOST}" pattern="localhost" negate="true"/>
              <add input="{REQUEST_URI}" pattern=".well-known/" negate="true"/>
            </conditions> 
            <action type="Redirect" redirectType="Permanent" url="https://{HTTP_HOST}/{R:1}" />
         </rule> 
        </rules>
        <rewriteMaps>
          <rewriteMap name="StaticRedirects">
            <add key="/sitemap" value="/sitemap.xml" />
          </rewriteMap>
        </rewriteMaps>
      </rewrite>
    </system.webServer>
    <location path="fonts">
      <system.webServer>
        <staticContent>
          <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="8760:00:00" />
        </staticContent>
      </system.webServer>
    </location>
    <location path="images">
      <system.webServer>
        <staticContent>
          <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="8760:00:00" />
        </staticContent>
      </system.webServer>
    </location>
    <location path="js">
      <system.webServer>
        <staticContent>
          <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="154:00:00" />
        </staticContent>
      </system.webServer>
    </location>
    <location path="css">
      <system.webServer>
        <staticContent>
          <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="154:00:00" />
        </staticContent>
      </system.webServer>
    </location>
</configuration>